.container {
    background-color: #F1DAAE;
    padding: 0px;
    font-family: "Inter", serif;
font-weight: 400;
font-style: normal;
border-radius: 24px;
}

body {
    background-color: #432719;
}

.seHome,
.seLoja,
.seFeedback,
.seContato {
    padding: 0px 60px;
}

.seHome {
    background-color: #A05035;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(228, 228, 228);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.seLoja {
    background-color: #F1DAAE;
    height: auto;
    padding-top: 36px;
    padding-bottom: 36px;
}

.seFeedback {
display: flex;
justify-content: center;
align-items: center; 
background-color: #A56734;
height: auto;
width: 100%;
clear: both; 
padding-top: 20px;
padding-bottom: 20px;
}

.carouselNov {
    margin: 16px;
    height: 300px;
    width: 500px;
    border-radius: 8px;
}

.seContato {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
    background-color: #A05035;
    height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(228, 228, 228);
}

.navbar {
    display: flex;
align-items: center;
justify-content: center;
text-align: center;
 width: 1160px;
 background-color: #FFECC0;
 border-radius: 24px;
 height:auto;
 margin: 12px 12px 0px 12px;
 padding: 0px 34px;
}


.contContato h1 {
    color: rgb(228, 228, 228);
    text-shadow: 8px 12px 4px rgba(21, 61, 30, 0.7); /* Sombra escura para destacar */
}

.navbar h1 {
    margin: 2px;
}

.nav {
    justify-content: center;
    background-color: #A05035;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}



#btConteudoHome {
    width: 200px;
    border-radius: 30px;
    font-family: "Domine", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.imgHome {
    background-image: url("./Img/imgHome.png");
    background-size: cover; 
    background-position: center;  
    border-radius: 24px;
}


.row {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.textConteudo {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-right: 150px;
padding-left: 0px;
height: 100%;
}

.textConteudo,
.prodt,
.btCompra {
font-family: "Inter", serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

.btCompra button {
font-family: "Inter", serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

.textConteudo p {
font-family: "Inter", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.propa {
background-color: aliceblue;
width: 100%;
height: auto;
}

.tabProdutos {
padding: 8px;
height: 100%;
}

.prodt {
    border-radius: 20px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    border: 0.2px solid black;
    position: relative; /* Garante que o destaque não afete outros elementos */
    overflow: hidden; /* Evita que o efeito ultrapasse os limites */
}


.prodtCentral {
margin-inline: 8px;
}

.btCompra, .btn-dark {
margin-top: 8px;
width: 100%;
border-radius: 16px;
}

.btCompra {
display: flex;
justify-content: space-between;
border: 1px solid black;
padding: 0px 16px;
}

.btatributo {
border: 0px;
background-color: transparent;
height: 100%;
padding-bottom: 2px;
}

.contContato { 
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-between;
text-align: start;
height: 100%;
}

ul li a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor padrão do texto */
}

.contRedes {
display: flex;
flex-direction: column;
align-items: flex-start; 
justify-content: flex-start;
text-align: left; 
}

.btnInscrever {
background-color: aliceblue;
border-radius: 8px;
width: 100%;
}

.imgRedes img {
border-radius: 50px;
margin-top: 2px;
height: 40px;
width: 40px;
}

.imgRedes a {
    text-decoration: none;
}

.btnWpp {
width: 100%;
height: 37.6px;
background-color: #182713;
border-color: #182713;
}


.btnWpp:hover{
    background-color: #3b612f;
    border-color: #182713;
}

.cardContato {
height: auto;
}

ul {
margin: 0;
list-style: none; /* Remove os marcadores */
padding: 0; /* Remove o espaçamento padrão */
margin: 0; /* Remove a margem padrão */
}

.contInsc {
margin-bottom: 0px;
}

.carousel-inner t{
    height: 400px;
    width: 600px;
    border-radius: 8px;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.carouselPropa {
    height: auto;
    width: 100%;
    object-fit: cover; 
}

.produto {
height: 100%;
width: 100%;
}

.imgProdutos {
height: 300px;
width: 100%;
}

.imgProdutos img {
width: 100%; 
height: 100%; 
object-fit: cover;
display: block;
margin: 0 auto; 
}


.floating-icon {
    position: fixed;
    right: 70px; 
    bottom: 120px; 
    z-index: 1000;
    background-color: #A05035;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;
    border: 0.2px solid black;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.floating-icon h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.botoes-carrinho {
    display: none;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaço entre os botões */
    margin-top: 8px;
    cursor: pointer;
    width: 100%; /* Ocupa toda a largura do contêiner pai */
}


.botoes-carrinho img {
    width: 50px;
    height: 50px;
    margin: 16px;
}

.prot1 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Mantém o tamanho fixo */
}

.prot1:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10; /* Destaca apenas o item com hover */
}

.prodt {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prodt img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prodt:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destaque */
}

.prodt img:hover {
    transform: scale(1.15);
}

.iconCesto {
    height: 30px;
    width: 30px;
}

.iconCesto img {
    width: 100%;
    height: 100%;
}

.btnFavorito {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20px;
    width: 20px;
    margin: 6px;
    position: relative;
    transform: rotate(-45deg);
    cursor: pointer;
}

.btnFavorito::before,
.btnFavorito::after {
    content: "";
    background-color: white;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.btnFavorito::before {
    top: -10px;
}

.btnFavorito::after {
    left: 10px;
}

/* Estilo ao clicar */
.btnFavorito.ativo {
    background-color: red;
}

.btnFavorito.ativo::before,
.btnFavorito.ativo::after {
    background-color: red;
}

.cardFavotiro {
    display: flex;
    justify-content: flex-end;
}

@keyframes pulinho {
    0% { transform: scale(1) rotate(-45deg); }
    20% { transform: scale(1.3) rotate(-45deg); } 
    40% { transform: scale(1.5) rotate(-45deg); } 
    50% { transform: scale(1.8) rotate(-45deg); }
    70% { transform: scale(3) rotate(-45deg); } 
    80% { transform: scale(1.8) rotate(-45deg); }
    90% { transform: scale(1.5) rotate(-45deg); }
    95% { transform: scale(1.3) rotate(-45deg); } 
    98% { transform: scale(1) rotate(-45deg); } 
    100% { transform: scale(1) rotate(-45deg); } 
}

.btnFavorito:active {
    animation: pulinho 2s ease-out;
}



@media (max-width: 1020px) {
    .row {
        justify-content: space-between;
        display: flex;
        flex-direction: column; 
        height: auto;
    }

    .seHome {
        height: auto; 
    }

    .col-5, .col-7 {
        width: 100%;  
    }

    .textConteudo {
        padding-right: 0;
        padding-bottom: 30px;
        text-align: center;
        align-items: center;
    }

    .imgHome {
        height: 280px; 
        width: 100%; 
        object-fit: cover;
    }

    .carouselPropa img {
        height: 40px; /* Ajuste a altura em telas maiores */
    }

    .seContato { 
        display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: auto; 
     }

     .cardContato { 
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto; 
        width: 100%;
        padding: 40px 0px;
     }

     .contContato {
        justify-content: space-between;
        height: auto; 
        width: 100%;
        margin: 20px 0px;
     }

     .contRedes {
        margin-bottom: 16px;
     }
}


@media (max-width: 800px) {
    .carouselNov {
        height: auto;
        width: 100%;
        object-fit: cover; 
    }

    .seFeedback {
        padding: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .carouselNov {
        height: 300px;
        width: 100%;
        margin: 0px;
    }
    

    .carouselNov img {
        width: 100%;
    }

    .floating-icon {
        right: 10px; 
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%;
        padding: 10px 20px;
        position: relative;
    }
    
    .navbar h1 {
        margin: 0;
        font-size: 24px;
    }
    
    .iconCesto img {
        width: 30px; 
        height: auto;
    }
    
    .navbar-toggler {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-toggler-icon {
        background-color: #333; /* Cor de fundo para o ícone */
        width: 30px;
        height: 3px;
    }
    
  
  }
  